* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial",
        sans-serif;
}

:root {
    --white-color: rgb(255, 255, 255);
    --font-color: rgb(131, 135, 151);
    --shortcut-color: rgb(232, 233, 235);
    --black-color: hsl(262, 96%, 2%);
    --gray-color: rgb(245, 246, 247);
    --blue-color: rgb(31, 120, 255);
    --blue-light-color: rgb(233, 242, 255);

    /* font and size */
    --icon-size: 1.3rem;
    --small-font-size: 0.9rem;
    --smaller-font-size: 0.7rem;
    --name-font-size: 1rem;
    --menu-icon-size: 1rem;
    --menu-font-size: 0.7rem;
}
.container {
    padding: 0.8rem 1.5rem;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__section {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8rem;
    align-items: center;
}
.logo {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    background-color: var(--blue-color);
    border-radius: 50%;
    color: var(--white-color);
    font-size: var(--small-font-size);
}
.name {
    font-size: var(--name-font-size);
    font-weight: 600;
}
.search__bar {
    width: 40%;
    height: fit-content;
    padding: 0.5rem;
    background-color: var(--gray-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}
.search__bar .search {
    font-size: var(--icon-size);
    color: var(--font-color);
    margin-left: 0.5rem;
}

.box {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding-left: 0.5rem;
}
.shortcut span {
    color: var(--font-color);
    font-size: var(--smaller-font-size);
}
.shortcut i {
    font-size: var(--small-font-size);
    color: var(--font-color);
}
.shortcut {
    background-color: var(--shortcut-color);
    padding: 0.3rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 0.4rem;
}
.right__side {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    gap: 1.2rem;
}
.profile {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}
.profile__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.username {
    font-size: var(--small-font-size);
}
.gmail {
    font-size: var(--smaller-font-size);
}
.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.right__search {
    display: none;
    font-size: var(--icon-size);
    color: var(--font-color);
}
.dark__theme,
.notification,
.right__search,
.dropdown,
.menu {
    font-size: var(--icon-size);
    color: var(--font-color);
    cursor: pointer;
}
.dropdown {
    display: none;
}

.right__search {
    display: none;
}
.menu__section {
    padding: 1rem;
    background-color: var(--gray-color);
    position: fixed;
    top: 70px;
    right: -200px;
    border-radius: 10px;
    transition: all 0.3s;
}
.show-menu {
    right: 10px;
}
ul > li > a {
    text-decoration: none;
    color: var(--black-color);
    display: flex;
    align-items: center;
}
ul > li > a {
    margin: 5px 0px;
    background-color: var(--blue-light-color);
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.5s;
}
ul > li > a:hover {
    background-color: var(--blue-color);
    color: var(--white-color);
}
a > i {
    font-size: var(--menu-icon-size);
    margin-right: 0.3rem;
}
a > p {
    font-size: var(--menu-font-size);
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
/* responsive mobile */

@media screen and (max-width: 1440px) {
    .container {
        padding: 0.9rem 3rem;
    }
}
@media screen and (max-width: 1024px) {
    .container {
        padding: 0.9rem 2rem;
    }
}
@media screen and (max-width: 768px) {
    /* Apply styles suitable for medium-sized screens */
    :root {
        --icon-size: 1.2rem;
        --small-font-size: 0.8rem;
        --smaller-font-size: 0.5rem;
    }
    .container {
        padding: 0.6rem 1rem;
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 480px) {
    /* Apply styles suitable for smaller screens */
    :root {
        --icon-size: 1.1rem;
        --small-font-size: 0.8rem;
        --smaller-font-size: 0.5rem;
    }
    .container {
        padding: 0.6rem 1rem;
    }
    .right__side {
        gap: 0.1rem;
    }
    .profile__name {
        display: none;
    }
    .profile {
        gap: 0;
    }
    .search__bar {
        display: none;
    }
    .right__side {
        grid-template-columns: auto auto auto auto auto auto;
        gap: 0.6rem;
    }
    .right__search,
    .dropdown {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    :root {
        --icon-size: 1rem;
        --small-font-size: 0.8rem;
        --smaller-font-size: 0.6rem;
        --name-font-size: 0.9rem;
    }
    .logo {
        width: 35px;
        height: 35px;
    }
    .profile img {
        width: 35px;
        height: 35px;
    }
    .logo__section {
        gap: 0.4rem;
    }
}
